.header {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--header-height);
  background-color: var(--fg-color);
  user-select: none;
}

.name {
  margin: 0;
  color: var(--light-text-color);
}

.langMenu {
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 88vw;

  transition: top 0.3s ease;
  user-select: none;
}

.langSelector {
  width: 100px;
  height: 40px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--light-text-color);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2px;
  transition: background-color 0.2s ease;
}

.langLogo {
  width: 26px;
  height: 20px;

  cursor: pointer;
  opacity: 0.9;
}

.langLogo:hover {
  filter: brightness(120%);
}

.darkLangSelector {
  background-color: #2c2d30;
}

.banner > div {
  position: absolute;
  top: 50px;
  left: 26px;

  font-size: 0.8rem;
  font-weight: 600;
}

.banner > img {
  position: absolute;
  top: 40px;
  left: 20px;

  width: 30px;
  height: auto;
  transition: filter 0.2s ease;
}

.darkBanner > div {
  color: var(--light-text-color);
}

.darkBanner > img {
  filter: brightness(20%);
}
