.header {
  position: absolute;
  top: 0;

  display: grid;
  grid-template-columns: 70px 2fr 2fr 70px;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;

  width: 100%;
  height: var(--header-height);
  color: var(--light-text-color);
  background-color: var(--fg-color);
  user-select: none;
}

.name {
  margin: 0;
}

.noNav {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.logo {
  width: 40px;
  height: auto;
  margin-left: 10px;

  transition: color 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  filter: brightness(200%);
}

.menuLogo {
  position: fixed;
  z-index: 3;
  top: 15px;
  left: 10px;
  transition: all 0.1s linear;
}

.darkMenuLogo {
  filter: brightness(20%);
}

.darkMenuLogo:hover {
  filter: brightness(70%);
}

.filterPage ~ div {
  filter: grayscale(50%);
}

.filterPage ~ footer {
  filter: grayscale(50%);
}

.clickablePage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: var(--fg-color);
  z-index: 5;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
}

.navItem {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--light-text-color);
  text-decoration: none;

  transition: color 0.3s ease;
  cursor: pointer;
}

.navItem:hover {
  color: var(--bg-color);
}

.lang {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
  border-radius: 20px;
  /* border: 0.05px solid var(--light-text-color); */

  cursor: pointer;
  opacity: 0.95;
  transition: color 0.3s ease;
}

.lang:hover {
  filter: brightness(120%);
}
