.app {
  position: relative;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.app > div {
  height: 100%;
  padding-bottom: var(--footer-height);
}

.logo {
  width: 100px;
  height: 100px;
}
